*{
    /* border: 1px solid green; */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
p{
    /* width: 60%; */
    display: block;
}
    /* a{
        width: 40%;
        display: block;
        height: 125px;
    } */
img{
    width: 15%;
    height: 20%;
    display: inline-block;
}
ul{
    list-style: none;
    text-align: end;
    background-color: black;
    padding: 30px;
}
ul > li > a{
    text-decoration: none;
}
li{
    display: inline;
}
li > a:hover{
    color: white;
}